{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",        
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "rules": {
        "semi": [
            2,
            "never"
        ],
        "no-const-assign": 2,
        "quotes": [
            2,
            "single"
        ],
        "strict": [
            2,
            "never"
        ],
        "no-var": 2,
        "prefer-spread": 2,
        "prefer-const": 2,
        "prefer-template": 2,
        "generator-star-spacing": 1,
        "babel/new-cap": 1,
        "object-shorthand": 1,
        "arrow-parens": 1
    },
    "plugins": [
        "babel",
        "import"
    ]
}